pip
xlwt
pandas
matplotlib
jupyter
numpy
openpyxl
pybis
chardet
rdflib
pint
doit
pydantic
pythonocc-core=7.7.0
doit
pandas
sqlite
meshio
mpich
pyvista[all]
pytest
pyyaml
bam77::extpybis
bam77::openbis2sqlite
bam77::fenicsxconcrete
